### Importação e instalação de bibliotecas

In [ ]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 15.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip install gcsfs

Collecting gcsfs
  Downloading gcsfs-2022.3.0-py2.py3-none-any.whl (25 kB)
Collecting fsspec==2022.3.0
  Downloading fsspec-2022.3.0-py3-none-any.whl (136 kB)
     |████████████████████████████████| 136 kB 37.2 MB/s
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 33.2 MB/s
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.3 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 39.4 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 47.2 MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.3.0 gcsfs-2022.3.0 multidict-6.0.2 yarl-1.7.2

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d07dfe62e137df66a74f12de42525af7dcd71982b4b8d01322df4f6da05d8129
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
# Importação de bibliotecas:

import pandas as pd
from google.cloud import storage
import os
from pyspark.sql.functions import udf, monotonically_increasing_id
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *

# Pandas

### Importação dos datasets

In [ ]:
# datasets csv:

df_mundo = pd.read_csv("https://storage.googleapis.com/projeto_grupo/datasets_originais/datasets_csv/Continent_Consumption_TWH.csv")
df_paises = pd.read_csv("https://storage.googleapis.com/projeto_grupo/datasets_originais/datasets_csv/Country_Consumption_TWH.csv")

In [ ]:
# dataset xlsx:

df_xlsx = pd.read_excel("https://storage.googleapis.com/projeto_grupo/datasets_originais/datasets_txt/dataset_xls/owid-energy-data(2).xlsx")

### Backup dos originais:

In [ ]:
df_mundo_1 = df_mundo.copy()
df_paises_1 = df_paises.copy()

In [ ]:
df_xlsx_1 = df_xlsx.copy()

In [ ]:
df_xlsx_1.head(0)

Empty DataFrame
Columns: [iso_code, country, year, coal_prod_change_pct, coal_prod_change_twh, gas_prod_change_pct, gas_prod_change_twh, oil_prod_change_pct, oil_prod_change_twh, energy_cons_change_pct, energy_cons_change_twh, biofuel_share_elec, biofuel_elec_per_capita, biofuel_cons_change_pct, biofuel_share_energy, biofuel_cons_change_twh, biofuel_consumption, biofuel_cons_per_capita, carbon_intensity_elec, coal_share_elec, coal_cons_change_pct, coal_share_energy, coal_cons_change_twh, coal_consumption, coal_elec_per_capita, coal_cons_per_capita, coal_production, coal_prod_per_capita, biofuel_electricity, coal_electricity, fossil_electricity, gas_electricity, hydro_electricity, nuclear_electricity, oil_electricity, other_renewable_exc_biofuel_electricity, other_renewable_electricity, renewables_electricity, solar_electricity, wind_electricity, electricity_generation, energy_per_gdp, energy_per_capita, fossil_cons_change_pct, fossil_share_energy, fossil_cons_change_twh, fossil_fuel_consumption, fossil_energy_per_capita, fossil_cons_per_capita, fossil_share_elec, gas_share_elec, gas_cons_change_pct, gas_share_energy, gas_cons_change_twh, gas_consumption, gas_elec_per_capita, gas_energy_per_capita, gas_production, gas_prod_per_capita, hydro_share_elec, hydro_cons_change_pct, hydro_share_energy, hydro_cons_change_twh, hydro_consumption, hydro_elec_per_capita, hydro_energy_per_capita, low_carbon_share_elec, low_carbon_electricity, low_carbon_elec_per_capita, low_carbon_cons_change_pct, low_carbon_share_energy, low_carbon_cons_change_twh, low_carbon_consumption, low_carbon_energy_per_capita, nuclear_share_elec, nuclear_cons_change_pct, nuclear_share_energy, nuclear_cons_change_twh, nuclear_consumption, nuclear_elec_per_capita, nuclear_energy_per_capita, oil_share_elec, oil_cons_change_pct, oil_share_energy, oil_cons_change_twh, oil_consumption, oil_elec_per_capita, oil_energy_per_capita, oil_production, oil_prod_per_capita, other_renewables_elec_per_capita_exc_biofuel, other_renewables_elec_per_capita, other_renewables_cons_change_pct, other_renewables_share_energy, other_renewables_cons_change_twh, other_renewable_consumption, other_renewables_share_elec_exc_biofuel, other_renewables_share_elec, other_renewables_energy_per_capita, per_capita_electricity, ...]
Index: []

[0 rows x 124 columns]

## Tratamento dos datasets csv

In [ ]:
# comando para mostrar todas as colunas do df:
pd.set_option('max_columns', None)

In [ ]:
# Tradução dos datasets df_paises_1 e df_xlsx_1:

df_paises_1.rename(
    columns={'Year':'Ano',
             'United States':'Estados_Unidos',
             'Brazil':'Brasil',
             'Belgium':'Belgica',
             'Czechia':'Republica_Tcheca',
             'France':'Franca',
             'Germany':'Alemanha',
             'Italy':'Italia',
             'Netherlands':'Holanda',
             'Poland':'Polonia',
             'Romania':'Romenia',
             'Spain':'Espanha',
             'Sweden':'Suecia',
             'United Kingdom':'Reino_Unido',
             'Norway':'Noruega',
             'Turkey':'Turquia',
             'Kazakhstan':'Cazaquistao',
             'Ukraine':'Ucrania',
             'Uzbekistan':'Uzbequistao',
             'Japan':'Japao',
             'Malaysia':'Malasia',
             'South Korea':'Coreia_do_Sul',
             'Thailand':'Tailandia',
             'New Zealand':'Nova_Zelandia',
             'Egypt':'Egito',
             'South Africa':'Africa_do_Sul',
             'Iran':'Ira',
             'Saudi Arabia':'Arabia_Saudita',
             'United Arab Emirates':'Emirados_Arabes_Unidos'
    },inplace=True)

df_mundo_1.rename(
    columns = {
        'Year': 'Ano',
        'World': 'Mundo',
        'OECD': 'Organizacao para a Cooperacao e Desenvolvimento Economico (OECD)',
        'BRICS': 'BRICS',
        'Europe': ' Europa',
        'North America': 'America do Norte',
        'Latin America': 'America Latina',
        'Asia': 'Asia',
        'Pacific': 'Pacifico',
        'Middle-East': 'Oriente Medio',
        'CIS': 'Comunidade dos Estados Independentes (CEI)'
        },inplace=True)

In [ ]:
#verificando a quantidade de linhas e colunas
#df_mundo_1.shape
df_paises_1.shape

(33, 45)

In [ ]:
df_paises_1.head(1)

,Ano,China,Estados_Unidos,Brasil,Belgica,Republica_Tcheca,Franca,Alemanha,Italia,Holanda,Polonia,Portugal,Romenia,Espanha,Suecia,Reino_Unido,Noruega,Turquia,Cazaquistao,Russia,Ucrania,Uzbequistao,Argentina,Canada,Chile,Colombia,Mexico,Venezuela,Indonesia,Japao,Malasia,Coreia_do_Sul,Taiwan,Tailandia,India,Australia,Nova_Zelandia,Algeria,Egito,Nigeria,Africa_do_Sul,Ira,Kuwait,Arabia_Saudita,Emirados_Arabes_Unidos
0,1990.0,874.0,1910.0,141.0,48.0,50.0,225.0,351.0,147.0,67.0,103.0,17.0,62.0,90.0,47.0,206.0,21.0,51.0,73.0,879.0,252.0,47.0,44.0,211.0,14.0,24.0,124.0,40.0,99.0,440.0,21.0,94.0,48.0,42.0,306.0,86.0,14.0,22.0,33.0,66.0,90.0,69.0,9.0,58.0,20.0

In [ ]:
#dropando eventuais linhas duplicadas

df_mundo_1 = df_mundo_1.drop_duplicates()
df_paises_1 = df_paises_1.drop_duplicates()

In [ ]:
#ao usar o shape novamente, verifica que não havia linhas duplicadas, uma vez que o shape se manteve

df_mundo_1.shape
df_paises_1.shape

(32, 45)

In [ ]:
# Verificação dos tipos de cada coluna:

df_mundo_1.info()
print("")
df_paises_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Ano                                                               31 non-null     int64
 1   Mundo                                                             31 non-null     float64
 2   Organizacao para a Cooperacao e Desenvolvimento Economico (OECD)  31 non-null     float64
 3   BRICS                                                             31 non-null     float64
 4    Europa                                                           31 non-null     float64
 5   America do Norte                                                  31 non-null     float64
 6   America Latina                                                    31 non-null     float64
 7   Asia                                                              31 non-null     float64
 8   Pacifico                                                          31 non-null     float64
 9   Africa                                                            31 non-null     float64
 10  Oriente Medio                                                     31 non-null     float64
 11  Comunidade dos Estados Independentes (CEI)                        31 non-null     float64
dtypes: float64(11), int64(1)
memory usage: 3.1 KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ano                     31 non-null     float64
 1   China                   31 non-null     float64
 2   Estados_Unidos          31 non-null     float64
 3   Brasil                  31 non-null     float64
 4   Belgica                 31 non-null     float64
 5   Republica_Tcheca        31 non-null     float64
 6   Franca                  31 non-null     float64
 7   Alemanha                31 non-null     float64
 8   Italia                  31 non-null     float64
 9   Holanda                 31 non-null     float64
 10  Polonia                 31 non-null     float64
 11  Portugal                31 non-null     float64
 12  Romenia                 31 non-null     float64
 13  Espanha                 31 non-null     float64
 14  Suecia                  31 non-null     float64
 15  Reino_Unido             31 non-null     float64
 16  Noruega                 31 non-null     float64
 17  Turquia                 31 non-null     float64
 18  Cazaquistao             31 non-null     float64
 19  Russia                  31 non-null     float64
 20  Ucrania                 31 non-null     float64
 21  Uzbequistao             31 non-null     float64
 22  Argentina               31 non-null     float64
 23  Canada                  31 non-null     float64
 24  Chile                   31 non-null     float64
 25  Colombia                31 non-null     float64
 26  Mexico                  31 non-null     float64
 27  Venezuela               31 non-null     float64
 28  Indonesia               31 non-null     float64
 29  Japao                   31 non-null     float64
 30  Malasia                 31 non-null     float64
 31  Coreia_do_Sul           31 non-null     float64
 32  Taiwan                  31 non-null     float64
 33  Tailandia               31 non-null     float64
 34  India                   31 non-null     float64
 35  Australia               31 non-null     float64
 36  Nova_Zelandia           31 non-null     float64
 37  Algeria                 31 non-null     float64
 38  Egito                   31 non-null     float64
 39  Nigeria                 31 non-null     float64
 40  Africa_do_Sul           31 non-null     float64
 41  Ira                     31 non-null     float64
 42  Kuwait                  31 non-null     float64
 43  Arabia_Saudita          31 non-null     float64
 44  Emirados_Arabes_Unidos  31 non-null     float64
dtypes: float64(45)
memory usage: 11.5 KB

In [ ]:
# Verificação de valores nulos ou inconsistências:

#df_mundo_1.isna().sum()
df_paises_1.isna().sum()

Ano                       1
China                     1
Estados_Unidos            1
Brasil                    1
Belgica                   1
Republica_Tcheca          1
Franca                    1
Alemanha                  1
Italia                    1
Holanda                   1
Polonia                   1
Portugal                  1
Romenia                   1
Espanha                   1
Suecia                    1
Reino_Unido               1
Noruega                   1
Turquia                   1
Cazaquistao               1
Russia                    1
Ucrania                   1
Uzbequistao               1
Argentina                 1
Canada                    1
Chile                     1
Colombia                  1
Mexico                    1
Venezuela                 1
Indonesia                 1
Japao                     1
Malasia                   1
Coreia_do_Sul             1
Taiwan                    1
Tailandia                 1
India                     1
Australia                 1
Nova_Zelandia             1
Algeria                   1
Egito                     1
Nigeria                   1
Africa_do_Sul             1
Ira                       1
Kuwait                    1
Arabia_Saudita            1
Emirados_Arabes_Unidos    1
dtype: int64

In [ ]:
# No df_paises_1, verificar se há NaN usando o sorted:

sorted(pd.unique(df_paises_1['Ano']))

[1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 nan]

In [ ]:
# Descobrimos que a última linha é de apenas valores NaN:

df_paises_1.tail(5)

,Ano,China,Estados_Unidos,Brasil,Belgica,Republica_Tcheca,Franca,Alemanha,Italia,Holanda,Polonia,Portugal,Romenia,Espanha,Suecia,Reino_Unido,Noruega,Turquia,Cazaquistao,Russia,Ucrania,Uzbequistao,Argentina,Canada,Chile,Colombia,Mexico,Venezuela,Indonesia,Japao,Malasia,Coreia_do_Sul,Taiwan,Tailandia,India,Australia,Nova_Zelandia,Algeria,Egito,Nigeria,Africa_do_Sul,Ira,Kuwait,Arabia_Saudita,Emirados_Arabes_Unidos
27,2017.0,3070.0,2161.0,292.0,55.0,43.0,247.0,311.0,154.0,74.0,104.0,23.0,33.0,125.0,49.0,176.0,30.0,147.0,66.0,729.0,89.0,44.0,82.0,295.0,38.0,40.0,180.0,56.0,222.0,434.0,85.0,295.0,107.0,139.0,883.0,128.0,21.0,57.0,93.0,152.0,136.0,262.0,34.0,219.0,78.0
28,2018.0,3201.0,2236.0,288.0,53.0,43.0,246.0,302.0,151.0,73.0,106.0,22.0,34.0,124.0,50.0,175.0,29.0,144.0,76.0,760.0,93.0,46.0,80.0,298.0,39.0,39.0,181.0,42.0,231.0,428.0,94.0,296.0,110.0,136.0,919.0,128.0,20.0,61.0,96.0,160.0,134.0,266.0,34.0,214.0,78.0
29,2019.0,3309.0,2214.0,293.0,55.0,43.0,243.0,294.0,149.0,72.0,103.0,22.0,33.0,121.0,49.0,170.0,28.0,145.0,77.0,768.0,89.0,47.0,79.0,301.0,40.0,41.0,176.0,36.0,237.0,416.0,96.0,293.0,108.0,137.0,940.0,129.0,21.0,65.0,97.0,157.0,129.0,269.0,36.0,215.0,83.0
30,2020.0,3381.0,2046.0,286.0,51.0,39.0,217.0,275.0,137.0,70.0,97.0,20.0,32.0,107.0,47.0,154.0,27.0,141.0,70.0,731.0,86.0,44.0,72.0,281.0,38.0,39.0,151.0,29.0,225.0,386.0,88.0,283.0,105.0,125.0,908.0,126.0,21.0,59.0,92.0,159.0,124.0,268.0,38.0,209.0,81.0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Remover todas as linhas que possuem apenas valores NaN:

df_paises_1 = df_paises_1.dropna(how="all")

df_paises_1.tail(5)

,Ano,China,Estados_Unidos,Brasil,Belgica,Republica_Tcheca,Franca,Alemanha,Italia,Holanda,Polonia,Portugal,Romenia,Espanha,Suecia,Reino_Unido,Noruega,Turquia,Cazaquistao,Russia,Ucrania,Uzbequistao,Argentina,Canada,Chile,Colombia,Mexico,Venezuela,Indonesia,Japao,Malasia,Coreia_do_Sul,Taiwan,Tailandia,India,Australia,Nova_Zelandia,Algeria,Egito,Nigeria,Africa_do_Sul,Ira,Kuwait,Arabia_Saudita,Emirados_Arabes_Unidos
26,2016.0,2977.0,2168.0,287.0,56.0,41.0,248.0,310.0,151.0,74.0,100.0,22.0,32.0,118.0,48.0,179.0,29.0,137.0,64.0,714.0,92.0,42.0,82.0,287.0,38.0,42.0,185.0,59.0,209.0,429.0,88.0,293.0,109.0,139.0,852.0,127.0,21.0,56.0,88.0,150.0,135.0,246.0,36.0,215.0,79.0
27,2017.0,3070.0,2161.0,292.0,55.0,43.0,247.0,311.0,154.0,74.0,104.0,23.0,33.0,125.0,49.0,176.0,30.0,147.0,66.0,729.0,89.0,44.0,82.0,295.0,38.0,40.0,180.0,56.0,222.0,434.0,85.0,295.0,107.0,139.0,883.0,128.0,21.0,57.0,93.0,152.0,136.0,262.0,34.0,219.0,78.0
28,2018.0,3201.0,2236.0,288.0,53.0,43.0,246.0,302.0,151.0,73.0,106.0,22.0,34.0,124.0,50.0,175.0,29.0,144.0,76.0,760.0,93.0,46.0,80.0,298.0,39.0,39.0,181.0,42.0,231.0,428.0,94.0,296.0,110.0,136.0,919.0,128.0,20.0,61.0,96.0,160.0,134.0,266.0,34.0,214.0,78.0
29,2019.0,3309.0,2214.0,293.0,55.0,43.0,243.0,294.0,149.0,72.0,103.0,22.0,33.0,121.0,49.0,170.0,28.0,145.0,77.0,768.0,89.0,47.0,79.0,301.0,40.0,41.0,176.0,36.0,237.0,416.0,96.0,293.0,108.0,137.0,940.0,129.0,21.0,65.0,97.0,157.0,129.0,269.0,36.0,215.0,83.0
30,2020.0,3381.0,2046.0,286.0,51.0,39.0,217.0,275.0,137.0,70.0,97.0,20.0,32.0,107.0,47.0,154.0,27.0,141.0,70.0,731.0,86.0,44.0,72.0,281.0,38.0,39.0,151.0,29.0,225.0,386.0,88.0,283.0,105.0,125.0,908.0,126.0,21.0,59.0,92.0,159.0,124.0,268.0,38.0,209.0,81.0

In [ ]:
# Conversão dos tipos de colunas:

df_paises_1['Ano'] = df_paises_1['Ano'].astype('int')

## Tratamento do dataset xlsx

### Drop de linhas em função do ano:

In [ ]:
df_xlsx_1.dtypes

iso_code                   object
country                    object
year                        int64
coal_prod_change_pct      float64
coal_prod_change_twh      float64
                           ...
wind_share_energy         float64
wind_cons_change_twh      float64
wind_consumption          float64
wind_elec_per_capita      float64
wind_energy_per_capita    float64
Length: 124, dtype: object

In [ ]:
# conferir dimensões do dataset xlsx
df_xlsx_1.shape

(17470, 124)

In [ ]:
# Percebemos que a faixa de anos é de 1900 a 2021:
sorted(pd.unique(df_xlsx_1['year']))

[1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [ ]:
# Exclusão das linhas anteriores a 1990 para que o dataset df_xlsx_1 seja compatível com os datasets anteriores:

linhas_excluir = df_xlsx_1[df_xlsx_1['year'] < 1990].index

df_xlsx_1.drop(linhas_excluir, inplace=True)

In [ ]:
# Exclusão das linha de 2021:

linhas_excluir2 = df_xlsx_1[df_xlsx_1['year'] > 2020].index

df_xlsx_1.drop(linhas_excluir2, inplace=True)

In [ ]:
# conferir dimensões do dataset xlsx
df_xlsx_1.shape

(7210, 124)

### Drop de linhas em função do país:
- serão dropadas linhas no df_xlsx_1 cujos países que não estão no df_paises_1

In [ ]:
# lista de países do df_paises:

lista_df_paises = list(df_paises.columns)

sorted(lista_df_paises)

['Algeria',
 'Argentina',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Czechia',
 'Egypt',
 'France',
 'Germany',
 'India',
 'Indonesia',
 'Iran',
 'Italy',
 'Japan',
 'Kazakhstan',
 'Kuwait',
 'Malaysia',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sweden',
 'Taiwan',
 'Thailand',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uzbekistan',
 'Venezuela',
 'Year']

In [ ]:
#lista de paises do df_xlsx:

lista_df_xlsx_1 = sorted(pd.unique(df_xlsx_1['country']))

lista_df_xlsx_1

['Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia Pacific',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'CIS',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Central America',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Czechoslovakia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Eastern Africa',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Europe (other)',
 'Faeroe Islands',
 'Falkland Islands ',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Middle Africa',
 'Middle East',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OPEC',
 'Oman',
 'Other Asia & Pacific',
 'Other CIS',
 'Other Caribbean',
 'Other Middle East',
 'Other Northern Africa',
 'Other South America',
 'Other Southern Africa',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South & Central America',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'USSR',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Pacific Islands',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Western Africa',
 'Western Sahara',
 'World',
 'Yemen',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [ ]:
# Operação com for para excluir linhas no df_xlsx_1 cujos países não estão no df_paises_1:

# list(set(lista_df_paises).intersection(lista_df_xlsx_1))

for pais_x in lista_df_xlsx_1:
  contador = 0
  for pais_p in lista_df_paises:
    if pais_x == pais_p:
      continue
    else:
      contador += 1
      if contador == len(lista_df_paises):
        excluir_linha = df_xlsx_1[df_xlsx_1['country'] == pais_x].index
        df_xlsx_1.drop(excluir_linha, inplace = True)
      else:
        continue

# Verificação da nova quantidade de linhas:
df_xlsx_1.shape

(1355, 124)

In [ ]:
# Verificação do tamanhos das duas listas (sendo que o primeiro valor de lista_df_paises é "Year")

#len(lista_df_paises)
sorted(pd.unique(df_xlsx_1['country']))

['Algeria',
 'Argentina',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Czechia',
 'Egypt',
 'France',
 'Germany',
 'India',
 'Indonesia',
 'Iran',
 'Italy',
 'Japan',
 'Kazakhstan',
 'Kuwait',
 'Malaysia',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sweden',
 'Taiwan',
 'Thailand',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uzbekistan',
 'Venezuela']

### Drop de colunas:

In [ ]:
# backup antes do drop de colunas:
df_xlsx_2 = df_xlsx_1.copy()

In [ ]:
# Lista de colunas no df_xlsx_1 (o índice na lista será sempre dois números a menos que o do texto acima)
len(list(df_xlsx_2.columns))

124

In [ ]:
# A lista de colunas no site que possui o dataset está errada. 
# Criamos uma nova lista para auxiliar o drop de colunas do projeto.

lista_git = [
  'iso_code',
  'country',
  'year',
  'coal_prod_change_pct',
  'coal_prod_change_twh',
  'gas_prod_change_pct',
  'gas_prod_change_twh',
  'oil_prod_change_pct',
  'oil_prod_change_twh',
  'energy_cons_change_pct',
  'energy_cons_change_twh',
  'biofuel_share_elec',
  'biofuel_cons_change_pct',
  'biofuel_share_energy',
  'biofuel_cons_change_twh',
  'biofuel_consumption',
  'biofuel_elec_per_capita',
  'biofuel_cons_per_capita',
  'carbon_intensity_elec',
  'coal_share_elec',
  'coal_cons_change_pct',
  'coal_share_energy',
  'coal_cons_change_twh',
  'coal_consumption',
  'coal_elec_per_capita',
  'coal_cons_per_capita',
  'coal_production',
  'coal_prod_per_capita',
  'electricity_generation',
  'biofuel_electricity',
  'coal_electricity',
  'fossil_electricity',
  'gas_electricity',
  'hydro_electricity',
  'nuclear_electricity',
  'oil_electricity',
  'other_renewable_electricity',
  'other_renewable_exc_biofuel_electricity',
  'renewables_electricity',
  'solar_electricity',
  'wind_electricity',
  'energy_per_gdp',
  'energy_per_capita',
  'fossil_cons_change_pct',
  'fossil_share_energy',
  'fossil_cons_change_twh',
  'fossil_fuel_consumption',
  'fossil_energy_per_capita',
  'fossil_cons_per_capita',
  'fossil_share_elec',
  'gas_share_elec',
  'gas_cons_change_pct',
  'gas_share_energy',
  'gas_cons_change_twh',
  'gas_consumption',
  'gas_elec_per_capita',
  'gas_energy_per_capita',
  'gas_production',
  'gas_prod_per_capita',
  'hydro_share_elec',
  'hydro_cons_change_pct',
  'hydro_share_energy',
  'hydro_cons_change_twh',
  'hydro_consumption',
  'hydro_elec_per_capita',
  'hydro_energy_per_capita',
  'low_carbon_share_elec',
  'low_carbon_electricity',
  'low_carbon_elec_per_capita',
  'low_carbon_cons_change_pct',
  'low_carbon_share_energy',
  'low_carbon_cons_change_twh',
  'low_carbon_consumption',
  'low_carbon_energy_per_capita',
  'nuclear_share_elec',
  'nuclear_cons_change_pct',
  'nuclear_share_energy',
  'nuclear_cons_change_twh',
  'nuclear_consumption',
  'nuclear_elec_per_capita',
  'nuclear_energy_per_capita',
  'oil_share_elec',
  'oil_cons_change_pct',
  'oil_share_energy',
  'oil_cons_change_twh',
  'oil_consumption',
  'oil_elec_per_capita',
  'oil_energy_per_capita',
  'oil_production',
  'oil_prod_per_capita',
  'other_renewables_elec_per_capita',
  'other_renewables_elec_per_capita_exc_biofuel',
  'other_renewables_share_elec',
  'other_renewables_share_elec_exc_biofuel',
  'other_renewables_cons_change_pct',
  'other_renewables_share_energy',
  'other_renewables_cons_change_twh',
  'other_renewable_consumption',
  'other_renewables_energy_per_capita',
  'per_capita_electricity',
  'population',
  'primary_energy_consumption',
  'renewables_elec_per_capita',
  'renewables_share_elec',
  'renewables_cons_change_pct',
  'renewables_share_energy',
  'renewables_cons_change_twh',
  'renewables_consumption',
  'renewables_energy_per_capita',
  'solar_share_elec',
  'solar_cons_change_pct',
  'solar_share_energy',
  'solar_cons_change_twh',
  'solar_consumption',
  'solar_elec_per_capita',
  'solar_energy_per_capita',
  'gdp',
  'wind_share_elec',
  'wind_cons_change_pct',
  'wind_share_energy',
  'wind_cons_change_twh',
  'wind_consumption',
  'wind_elec_per_capita',
  'wind_energy_per_capita']

lista_indice = [1,2,11,13,15,19,21,23,28,29,30,32,33,34,35,38,39,40,50,52,54,59,61,63,74,76,78,81,83,85,100,109,111,113,117,119,121]

nova_lista = []

for i in lista_git:
  if lista_git.index(i) in lista_indice:
    nova_lista.append(i)

nova_lista

['country',
 'year',
 'biofuel_share_elec',
 'biofuel_share_energy',
 'biofuel_consumption',
 'coal_share_elec',
 'coal_share_energy',
 'coal_consumption',
 'electricity_generation',
 'biofuel_electricity',
 'coal_electricity',
 'gas_electricity',
 'hydro_electricity',
 'nuclear_electricity',
 'oil_electricity',
 'renewables_electricity',
 'solar_electricity',
 'wind_electricity',
 'gas_share_elec',
 'gas_share_energy',
 'gas_consumption',
 'hydro_share_elec',
 'hydro_share_energy',
 'hydro_consumption',
 'nuclear_share_elec',
 'nuclear_share_energy',
 'nuclear_consumption',
 'oil_share_elec',
 'oil_share_energy',
 'oil_consumption',
 'population',
 'solar_share_elec',
 'solar_share_energy',
 'solar_consumption',
 'wind_share_elec',
 'wind_share_energy',
 'wind_consumption']

In [ ]:
# Drop de colunas:

lista_xlsx = list(df_xlsx_2.columns)

for j in lista_git:
  if j not in nova_lista:
    df_xlsx_2.drop(f'{j}',axis=1, inplace=True)

## Tradução do dataset

In [ ]:
df_xlsx_2.rename(
    columns = {
        'country': 'Pais',
        'year': 'Ano',
        'biofuel_share_elec': 'Geracao_de_eletricidade_por_biocombustiveis',
        'biofuel_share_energy': 'Consumo_de_energia_primaria_de_biocombustiveis',
        'biofuel_consumption': 'Consumo_de_energia_primaria_de_biocombustiveis_em_TWh',
        'coal_share_elec': 'Geracao_de_eletricidade_por_carvao',
        'coal_share_energy': 'Consumo_de_energia_primaria_de_carvao',
        'coal_consumption': 'Consumo_de_energia_primaria_de_carvao_em_TWh',
        'electricity_generation': 'Geracao_de_eletricidade_em_TWh',
        'biofuel_electricity': 'Geracao_de_eletricidade_por_biocombustiveis_em_TWh',
        'coal_electricity': 'Geracao_de_eletricidade_por_carvao_em_TWh',
        'gas_electricity' : 'Geracao_de_eletricidade_por_gas_em_TWh',
        'hydro_electricity' : 'Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh',
        'nuclear_electricity' : 'Geracao_de_eletricidade_por_energia_nuclear_em_TWh',
        'oil_electricity' : 'Geracao_de_eletricidade_por_petroleo_em_TWh',
        'renewables_electricity' : 'Geracao_de_eletricidade_por_energias_renovaveis_em_TWh',
        'solar_electricity' : 'Geracao_de_eletricidade_por_energia_solar_em_TWh',
        'wind_electricity' : 'Geracao_de_eletricidade_por_energia_eolica_em_TWh',
        'gas_share_energy' : 'Consumo_de_energia_primaria_de_gas',
        'gas_consumption' : 'Consumo_de_energia_primaria_de_gas_em_TWh',
        'hydro_share_energy' : 'Consumo_de_energia_primaria_de_fonte_hidreletrica',
        'hydro_consumption' : 'Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh',
        'nuclear_share_elec' : 'Geracao_de_eletricidade_por_energia_nuclear',
        'nuclear_consumption' : 'Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh',
        'oil_share_elec' : 'Geracao_de_eletricidade_de_petroleo',
        'oil_share_energy' : 'Consumo_de_energia_primaria_de_petroleo',
        'oil_consumption' : 'Consumo_de_energia_primaria_de_petroleo_em_TWh',
        'solar_share_elec' : 'Geracao_de_eletricidade_de_fonte_solar',
        'solar_share_energy' : 'Consumo_de_energia_primaria_de_fonte_solar',
        'solar_consumption' : 'Consumo_de_energia_primaria_de_fonte_solar_em_TWh',
        'wind_share_elec' : 'Geracao_de_eletricidade_de_fonte_eolica',
        'wind_share_energy' : 'Consumo_de_energia_primaria_de_fonte_eolica',
        'wind_consumption' : 'Consumo_de_energia_primaria_de_fonte_eolica_em_TWh',
        'nuclear_share_energy' : 'Consumo_de_energia_primaria_de_fonte_nuclear',
        'hydro_share_elec' : 'Geracao_de_eletricidade_de_fonte_hidreletrica',
        'gas_share_elec' : 'Geracao_de_eletricidade_de_gas',
        'population':'Populacao'
        },inplace=True)

In [ ]:
# Mudança do tipo da coluna população para int:

df_xlsx_2['Populacao'] = df_xlsx_2['Populacao'].astype('int')

In [ ]:
# Tradução coluna paises

traducao = {
 'United States':'Estados_Unidos',
  'Brazil':'Brasil',
  'Belgium':'Belgica',
  'Czechia':'Republica_Tcheca',
  'France':'Franca',
  'Germany':'Alemanha',
  'Italy':'Italia',
  'Netherlands':'Holanda',
  'Poland':'Polonia',
  'Romania':'Romenia',
  'Spain':'Espanha',
  'Sweden':'Suecia',
  'United Kingdom':'Reino_Unido',
  'Norway':'Noruega',
  'Turkey':'Turquia',
  'Kazakhstan':'Cazaquistao',
  'Ukraine':'Ucrania',
  'Uzbekistan':'Uzbequistao',
  'Japan':'Japao',
  'Malaysia':'Malasia',
  'South Korea':'Coreia_do_Sul',
  'Thailand':'Tailandia',
  'New Zealand':'Nova_Zelandia',
  'Egypt':'Egito',
  'South Africa':'Africa_do_Sul',
  'Iran':'Ira',
  'Saudi Arabia':'Arabia_Saudita',
  'United Arab Emirates':'Emirados_Arabes_Unidos',
}

df_xlsx_2['Pais'].replace(traducao, inplace = True)

Verificação de valores nulos, NaN, Na, e tipos de colunas

In [ ]:
# Tipos das colunas:
df_xlsx_2.dtypes

Pais                                                         object
Ano                                                           int64
Geracao_de_eletricidade_por_biocombustiveis                 float64
Consumo_de_energia_primaria_de_biocombustiveis              float64
Consumo_de_energia_primaria_de_biocombustiveis_em_TWh       float64
Geracao_de_eletricidade_por_carvao                          float64
Consumo_de_energia_primaria_de_carvao                       float64
Consumo_de_energia_primaria_de_carvao_em_TWh                float64
Geracao_de_eletricidade_por_biocombustiveis_em_TWh          float64
Geracao_de_eletricidade_por_carvao_em_TWh                   float64
Geracao_de_eletricidade_por_gas_em_TWh                      float64
Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh     float64
Geracao_de_eletricidade_por_energia_nuclear_em_TWh          float64
Geracao_de_eletricidade_por_petroleo_em_TWh                 float64
Geracao_de_eletricidade_por_energias_renovaveis_em_TWh      float64
Geracao_de_eletricidade_por_energia_solar_em_TWh            float64
Geracao_de_eletricidade_por_energia_eolica_em_TWh           float64
Geracao_de_eletricidade_em_TWh                              float64
Geracao_de_eletricidade_de_gas                              float64
Consumo_de_energia_primaria_de_gas                          float64
Consumo_de_energia_primaria_de_gas_em_TWh                   float64
Geracao_de_eletricidade_de_fonte_hidreletrica               float64
Consumo_de_energia_primaria_de_fonte_hidreletrica           float64
Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh    float64
Geracao_de_eletricidade_por_energia_nuclear                 float64
Consumo_de_energia_primaria_de_fonte_nuclear                float64
Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh         float64
Geracao_de_eletricidade_de_petroleo                         float64
Consumo_de_energia_primaria_de_petroleo                     float64
Consumo_de_energia_primaria_de_petroleo_em_TWh              float64
Populacao                                                     int64
Geracao_de_eletricidade_de_fonte_solar                      float64
Consumo_de_energia_primaria_de_fonte_solar                  float64
Consumo_de_energia_primaria_de_fonte_solar_em_TWh           float64
Geracao_de_eletricidade_de_fonte_eolica                     float64
Consumo_de_energia_primaria_de_fonte_eolica                 float64
Consumo_de_energia_primaria_de_fonte_eolica_em_TWh          float64
dtype: object

In [ ]:
# Verificação da quantidades de valores Na e nulos em cada coluna:

df_xlsx_2.isnull().values.any()
df_xlsx_2.isna().sum()

Pais                                                          0
Ano                                                           0
Geracao_de_eletricidade_por_biocombustiveis                 290
Consumo_de_energia_primaria_de_biocombustiveis               65
Consumo_de_energia_primaria_de_biocombustiveis_em_TWh        35
Geracao_de_eletricidade_por_carvao                           80
Consumo_de_energia_primaria_de_carvao                        65
Consumo_de_energia_primaria_de_carvao_em_TWh                 65
Geracao_de_eletricidade_por_biocombustiveis_em_TWh          290
Geracao_de_eletricidade_por_carvao_em_TWh                    80
Geracao_de_eletricidade_por_gas_em_TWh                       80
Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh      10
Geracao_de_eletricidade_por_energia_nuclear_em_TWh           10
Geracao_de_eletricidade_por_petroleo_em_TWh                  80
Geracao_de_eletricidade_por_energias_renovaveis_em_TWh       10
Geracao_de_eletricidade_por_energia_solar_em_TWh             10
Geracao_de_eletricidade_por_energia_eolica_em_TWh            10
Geracao_de_eletricidade_em_TWh                               10
Geracao_de_eletricidade_de_gas                               80
Consumo_de_energia_primaria_de_gas                           65
Consumo_de_energia_primaria_de_gas_em_TWh                    65
Geracao_de_eletricidade_de_fonte_hidreletrica                10
Consumo_de_energia_primaria_de_fonte_hidreletrica            65
Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh     65
Geracao_de_eletricidade_por_energia_nuclear                  10
Consumo_de_energia_primaria_de_fonte_nuclear                 65
Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh          65
Geracao_de_eletricidade_de_petroleo                          80
Consumo_de_energia_primaria_de_petroleo                      65
Consumo_de_energia_primaria_de_petroleo_em_TWh               65
Populacao                                                     0
Geracao_de_eletricidade_de_fonte_solar                       10
Consumo_de_energia_primaria_de_fonte_solar                   65
Consumo_de_energia_primaria_de_fonte_solar_em_TWh            65
Geracao_de_eletricidade_de_fonte_eolica                      10
Consumo_de_energia_primaria_de_fonte_eolica                  65
Consumo_de_energia_primaria_de_fonte_eolica_em_TWh           65
dtype: int64

A decisão tomada foi de não alterar os valores de NaN no dataframe. Há países que não possuem determinada fonte de energia ou que não existem registros em determinada faixa de anos. Dessa forma, é adequado que os valores NaN permaneçam.

In [ ]:
df_paises_1.head(5)

,Ano,China,Estados_Unidos,Brasil,Belgica,Republica_Tcheca,Franca,Alemanha,Italia,Holanda,Polonia,Portugal,Romenia,Espanha,Suecia,Reino_Unido,Noruega,Turquia,Cazaquistao,Russia,Ucrania,Uzbequistao,Argentina,Canada,Chile,Colombia,Mexico,Venezuela,Indonesia,Japao,Malasia,Coreia_do_Sul,Taiwan,Tailandia,India,Australia,Nova_Zelandia,Algeria,Egito,Nigeria,Africa_do_Sul,Ira,Kuwait,Arabia_Saudita,Emirados_Arabes_Unidos
0,1990,874.0,1910.0,141.0,48.0,50.0,225.0,351.0,147.0,67.0,103.0,17.0,62.0,90.0,47.0,206.0,21.0,51.0,73.0,879.0,252.0,47.0,44.0,211.0,14.0,24.0,124.0,40.0,99.0,440.0,21.0,94.0,48.0,42.0,306.0,86.0,14.0,22.0,33.0,66.0,90.0,69.0,9.0,58.0,20.0
1,1991,848.0,1925.0,143.0,50.0,45.0,237.0,344.0,150.0,69.0,101.0,17.0,51.0,93.0,49.0,213.0,22.0,51.0,75.0,871.0,252.0,48.0,46.0,210.0,14.0,24.0,130.0,41.0,103.0,445.0,26.0,101.0,52.0,46.0,318.0,85.0,14.0,23.0,33.0,70.0,92.0,77.0,3.0,68.0,23.0
2,1992,877.0,1964.0,145.0,51.0,44.0,234.0,338.0,149.0,69.0,99.0,18.0,46.0,95.0,47.0,213.0,22.0,53.0,79.0,795.0,220.0,45.0,47.0,216.0,15.0,25.0,131.0,46.0,108.0,455.0,29.0,111.0,54.0,49.0,330.0,87.0,14.0,24.0,34.0,72.0,88.0,81.0,9.0,77.0,22.0
3,1993,929.0,1998.0,148.0,49.0,43.0,238.0,335.0,149.0,70.0,101.0,18.0,46.0,91.0,46.0,215.0,24.0,56.0,66.0,751.0,195.0,47.0,48.0,223.0,16.0,26.0,133.0,43.0,119.0,458.0,32.0,125.0,58.0,51.0,338.0,91.0,15.0,24.0,35.0,74.0,94.0,87.0,12.0,80.0,23.0
4,1994,973.0,2036.0,156.0,52.0,41.0,231.0,333.0,147.0,70.0,96.0,18.0,43.0,96.0,50.0,216.0,23.0,56.0,58.0,657.0,166.0,46.0,52.0,231.0,17.0,27.0,136.0,50.0,119.0,483.0,32.0,133.0,60.0,57.0,351.0,91.0,15.0,23.0,34.0,72.0,98.0,97.0,14.0,84.0,26.0

In [ ]:
df_mundo_1.head(5)

,Ano,Mundo,Organizacao para a Cooperacao e Desenvolvimento Economico (OECD),BRICS,Europa,America do Norte,America Latina,Asia,Pacifico,Africa,Oriente Medio,Comunidade dos Estados Independentes (CEI)
0,1990,101855.54,52602.49,26621.07,20654.88,24667.23,5373.06,24574.19,1197.89,4407.77,2581.86,16049.40
1,1991,102483.56,53207.25,26434.99,20631.62,24841.68,5500.99,24783.53,1186.26,4535.70,2744.68,15898.21
2,1992,102588.23,53788.75,25993.05,20189.68,25341.77,5628.92,25690.67,1209.52,4582.22,3081.95,14339.79
3,1993,103646.56,54614.48,26283.80,20189.68,25830.23,5675.44,26876.93,1267.67,4721.78,3349.44,13246.57
4,1994,104449.03,55579.77,25993.05,20085.01,26365.21,5989.45,28098.08,1279.30,4803.19,3640.19,11606.74

In [ ]:
df_xlsx_2.head(5)

,Pais,Ano,Geracao_de_eletricidade_por_biocombustiveis,Consumo_de_energia_primaria_de_biocombustiveis,Consumo_de_energia_primaria_de_biocombustiveis_em_TWh,Geracao_de_eletricidade_por_carvao,Consumo_de_energia_primaria_de_carvao,Consumo_de_energia_primaria_de_carvao_em_TWh,Geracao_de_eletricidade_por_biocombustiveis_em_TWh,Geracao_de_eletricidade_por_carvao_em_TWh,Geracao_de_eletricidade_por_gas_em_TWh,Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh,Geracao_de_eletricidade_por_energia_nuclear_em_TWh,Geracao_de_eletricidade_por_petroleo_em_TWh,Geracao_de_eletricidade_por_energias_renovaveis_em_TWh,Geracao_de_eletricidade_por_energia_solar_em_TWh,Geracao_de_eletricidade_por_energia_eolica_em_TWh,Geracao_de_eletricidade_em_TWh,Geracao_de_eletricidade_de_gas,Consumo_de_energia_primaria_de_gas,Consumo_de_energia_primaria_de_gas_em_TWh,Geracao_de_eletricidade_de_fonte_hidreletrica,Consumo_de_energia_primaria_de_fonte_hidreletrica,Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh,Geracao_de_eletricidade_por_energia_nuclear,Consumo_de_energia_primaria_de_fonte_nuclear,Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh,Geracao_de_eletricidade_de_petroleo,Consumo_de_energia_primaria_de_petroleo,Consumo_de_energia_primaria_de_petroleo_em_TWh,Populacao,Geracao_de_eletricidade_de_fonte_solar,Consumo_de_energia_primaria_de_fonte_solar,Consumo_de_energia_primaria_de_fonte_solar_em_TWh,Geracao_de_eletricidade_de_fonte_eolica,Consumo_de_energia_primaria_de_fonte_eolica,Consumo_de_energia_primaria_de_fonte_eolica_em_TWh
450,Algeria,1990,NaN,0.0,0.0,NaN,2.433,7.664,NaN,NaN,NaN,0.135,0.0,NaN,0.135,0.0,0.0,16.104,NaN,61.946,195.099,0.838,0.119,0.375,0.0,0.0,0.0,NaN,35.501,111.812,25758872,0.0,0.0,0.0,0.0,0.0,0.0
451,Algeria,1991,NaN,0.0,0.0,NaN,2.534,7.908,NaN,NaN,NaN,0.293,0.0,NaN,0.293,0.0,0.0,17.345,NaN,61.752,192.693,1.689,0.261,0.814,0.0,0.0,0.0,NaN,35.453,110.628,26400468,0.0,0.0,0.0,0.0,0.0,0.0
452,Algeria,1992,NaN,0.0,0.0,NaN,2.935,9.397,NaN,NaN,NaN,0.199,0.0,NaN,0.199,0.0,0.0,18.286,NaN,62.134,198.949,1.088,0.173,0.553,0.0,0.0,0.0,NaN,34.758,111.293,27028330,0.0,0.0,0.0,0.0,0.0,0.0
453,Algeria,1993,NaN,0.0,0.0,NaN,2.569,7.653,NaN,NaN,NaN,0.353,0.0,NaN,0.353,0.0,0.0,19.414,NaN,59.928,178.544,1.818,0.329,0.981,0.0,0.0,0.0,NaN,37.175,110.755,27635517,0.0,0.0,0.0,0.0,0.0,0.0
454,Algeria,1994,NaN,0.0,0.0,NaN,2.388,7.211,NaN,NaN,NaN,0.166,0.0,NaN,0.166,0.0,0.0,19.883,NaN,62.330,188.169,0.835,0.153,0.461,0.0,0.0,0.0,NaN,35.129,106.051,28213777,0.0,0.0,0.0,0.0,0.0,0.0

# PySpark

Criação das tabelas a partir dos dataframes do pandas:

In [ ]:
# Criação da sparksession:

spark = (
    SparkSession.builder
                .master("local")
                .appName("projeto_final")
                .config("spark.ui.port", "4050")
                .getOrCreate()
)

### Criação dos schemas

In [ ]:
# Schema para a tabela df_spark_paises

schemapaises = StructType([
                  StructField('Ano',IntegerType(),True),
                  StructField('China',FloatType(),True),
                  StructField('Estados_Unidos',FloatType(),True),
                  StructField('Brasil',FloatType(),True),
                  StructField('Belgica',FloatType(),True),
                  StructField('Republica_Tcheca',FloatType(),True),
                  StructField('Franca',FloatType(),True),
                  StructField('Alemanha',FloatType(),True),
                  StructField('Italia',FloatType(),True),
                  StructField('Holanda',FloatType(),True),
                  StructField('Polonia',FloatType(),True),
                  StructField('Portugal',FloatType(),True),
                  StructField('Romenia',FloatType(),True),
                  StructField('Espanha',FloatType(),True),
                  StructField('Suecia',FloatType(),True),
                  StructField('Reino_Unido',FloatType(),True),
                  StructField('Noruega',FloatType(),True),
                  StructField('Turquia',FloatType(),True),
                  StructField('Cazaquistao',FloatType(),True),
                  StructField('Russia',FloatType(),True),
                  StructField('Ucrania',FloatType(),True),
                  StructField('Uzbequistao',FloatType(),True),
                  StructField('Argentina',FloatType(),True),
                  StructField('Canada',FloatType(),True),
                  StructField('Chile',FloatType(),True),
                  StructField('Colombia',FloatType(),True),
                  StructField('Mexico',FloatType(),True),
                  StructField('Venezuela',FloatType(),True),
                  StructField('Indonesia',FloatType(),True),
                  StructField('Japao',FloatType(),True),
                  StructField('Malasia',FloatType(),True),
                  StructField('Coreia_do_Sul',FloatType(),True),
                  StructField('Taiwan',FloatType(),True),
                  StructField('Tailandia',FloatType(),True),
                  StructField('India',FloatType(),True),
                  StructField('Australia',FloatType(),True),
                  StructField('Nova_Zelandia',FloatType(),True),
                  StructField('Algeria',FloatType(),True),
                  StructField('Egito',FloatType(),True),
                  StructField('Nigeria',FloatType(),True),
                  StructField('Africa_do_Sul',FloatType(),True),
                  StructField('Ira',FloatType(),True),
                  StructField('Kuwait',FloatType(),True),
                  StructField('Arabia_Saudita',FloatType(),True),
                  StructField('Emirados_Arabes_Unidos',FloatType(),True)
])

df_spark_paises = spark.createDataFrame(df_paises_1, schema = schemapaises)

In [ ]:
df_spark_paises.show(5)

+----+-----+--------------+------+-------+----------------+------+--------+------+-------+-------+--------+-------+-------+------+-----------+-------+-------+-----------+------+-------+-----------+---------+------+-----+--------+------+---------+---------+-----+-------+-------------+------+---------+-----+---------+-------------+-------+-----+-------+-------------+----+------+--------------+----------------------+
| Ano|China|Estados_Unidos|Brasil|Belgica|Republica_Tcheca|Franca|Alemanha|Italia|Holanda|Polonia|Portugal|Romenia|Espanha|Suecia|Reino_Unido|Noruega|Turquia|Cazaquistao|Russia|Ucrania|Uzbequistao|Argentina|Canada|Chile|Colombia|Mexico|Venezuela|Indonesia|Japao|Malasia|Coreia_do_Sul|Taiwan|Tailandia|India|Australia|Nova_Zelandia|Algeria|Egito|Nigeria|Africa_do_Sul| Ira|Kuwait|Arabia_Saudita|Emirados_Arabes_Unidos|
+----+-----+--------------+------+-------+----------------+------+--------+------+-------+-------+--------+-------+-------+------+-----------+-------+-------+-----------+------+-------+-----------+---------+------+-----+--------+------+---------+---------+-----+-------+-------------+------+---------+-----+---------+-------------+-------+-----+-------+-------------+----+------+--------------+----------------------+
|1990|874.0|        1910.0| 141.0|   48.0|            50.0| 225.0|   351.0| 147.0|   67.0|  103.0|    17.0|   62.0|   90.0|  47.0|      206.0|   21.0|   51.0|       73.0| 879.0|  252.0|       47.0|     44.0| 211.0| 14.0|    24.0| 124.0|     40.0|     99.0|440.0|   21.0|         94.0|  48.0|     42.0|306.0|     86.0|         14.0|   22.0| 33.0|   66.0|         90.0|69.0|   9.0|          58.0|                  20.0|
|1991|848.0|        1925.0| 143.0|   50.0|            45.0| 237.0|   344.0| 150.0|   69.0|  101.0|    17.0|   51.0|   93.0|  49.0|      213.0|   22.0|   51.0|       75.0| 871.0|  252.0|       48.0|     46.0| 210.0| 14.0|    24.0| 130.0|     41.0|    103.0|445.0|   26.0|        101.0|  52.0|     46.0|318.0|     85.0|         14.0|   23.0| 33.0|   70.0|         92.0|77.0|   3.0|          68.0|                  23.0|
|1992|877.0|        1964.0| 145.0|   51.0|            44.0| 234.0|   338.0| 149.0|   69.0|   99.0|    18.0|   46.0|   95.0|  47.0|      213.0|   22.0|   53.0|       79.0| 795.0|  220.0|       45.0|     47.0| 216.0| 15.0|    25.0| 131.0|     46.0|    108.0|455.0|   29.0|        111.0|  54.0|     49.0|330.0|     87.0|         14.0|   24.0| 34.0|   72.0|         88.0|81.0|   9.0|          77.0|                  22.0|
|1993|929.0|        1998.0| 148.0|   49.0|            43.0| 238.0|   335.0| 149.0|   70.0|  101.0|    18.0|   46.0|   91.0|  46.0|      215.0|   24.0|   56.0|       66.0| 751.0|  195.0|       47.0|     48.0| 223.0| 16.0|    26.0| 133.0|     43.0|    119.0|458.0|   32.0|        125.0|  58.0|     51.0|338.0|     91.0|         15.0|   24.0| 35.0|   74.0|         94.0|87.0|  12.0|          80.0|                  23.0|
|1994|973.0|        2036.0| 156.0|   52.0|            41.0| 231.0|   333.0| 147.0|   70.0|   96.0|    18.0|   43.0|   96.0|  50.0|      216.0|   23.0|   56.0|       58.0| 657.0|  166.0|       46.0|     52.0| 231.0| 17.0|    27.0| 136.0|     50.0|    119.0|483.0|   32.0|        133.0|  60.0|     57.0|351.0|     91.0|         15.0|   23.0| 34.0|   72.0|         98.0|97.0|  14.0|          84.0|                  26.0|
+----+-----+--------------+------+-------+----------------+------+--------+------+-------+-------+--------+-------+-------+------+-----------+-------+-------+-----------+------+-------+-----------+---------+------+-----+--------+------+---------+---------+-----+-------+-------------+------+---------+-----+---------+-------------+-------+-----+-------+-------------+----+------+--------------+----------------------+
only showing top 5 rows

In [ ]:
# Schema para a df_spark_mundo

schemamundo = (
    StructType([
              StructField('Ano', IntegerType(), True),
              StructField('Mundo', FloatType(), True),
              StructField('Organizacao_para_a_Cooperacao_e_Desenvolvimento_Economico_(OECD)', FloatType(), True),
              StructField('BRICS', FloatType(), True),
              StructField('Europa', FloatType(), True),
              StructField('Americado_Norte',FloatType(), True),
              StructField('America_Latina', FloatType(), True),
              StructField('Asia', FloatType(), True),
              StructField('Pacifico', FloatType(), True),
              StructField('Africa', FloatType(), True),
              StructField('Oriente_Medio', FloatType(), True),
              StructField('Comunidade_dos_Estados_Independentes_(CEI)', FloatType(), True),
  ])
)

df_spark_mundo = spark.createDataFrame(df_mundo_1, schema=schemamundo)

In [ ]:
df_spark_mundo.show(5)

+----+---------+----------------------------------------------------------------+--------+--------+---------------+--------------+--------+--------+-------+-------------+------------------------------------------+
| Ano|    Mundo|Organizacao_para_a_Cooperacao_e_Desenvolvimento_Economico_(OECD)|   BRICS|  Europa|Americado_Norte|America_Latina|    Asia|Pacifico| Africa|Oriente_Medio|Comunidade_dos_Estados_Independentes_(CEI)|
+----+---------+----------------------------------------------------------------+--------+--------+---------------+--------------+--------+--------+-------+-------------+------------------------------------------+
|1990|101855.54|                                                        52602.49|26621.07|20654.88|       24667.23|       5373.06|24574.19| 1197.89|4407.77|      2581.86|                                   16049.4|
|1991|102483.56|                                                        53207.25|26434.99|20631.62|       24841.68|       5500.99|24783.53| 1186.26| 4535.7|      2744.68|                                  15898.21|
|1992|102588.23|                                                        53788.75|25993.05|20189.68|       25341.77|       5628.92|25690.67| 1209.52|4582.22|      3081.95|                                  14339.79|
|1993|103646.56|                                                        54614.48| 26283.8|20189.68|       25830.23|       5675.44|26876.93| 1267.67|4721.78|      3349.44|                                  13246.57|
|1994|104449.03|                                                        55579.77|25993.05|20085.01|       26365.21|       5989.45|28098.08|  1279.3|4803.19|      3640.19|                                  11606.74|
+----+---------+----------------------------------------------------------------+--------+--------+---------------+--------------+--------+--------+-------+-------------+------------------------------------------+
only showing top 5 rows

In [ ]:
# backup do df_xlsx_2:

df_xlsx_3 = df_xlsx_2

In [ ]:
# Schema para a df_spark_xlsx:

schemaxlsx = (
    StructType([
              StructField('Pais',StringType(), True),
              StructField('Ano', IntegerType(), True),
              StructField('Geracao_de_eletricidade_por_biocombustiveis', FloatType(), True),
              StructField('Consumo_de_energia_primaria_de_biocombustiveis', FloatType(), True),
              StructField('Consumo_de_energia_primaria_de_biocombustiveis_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_carvao', FloatType(), True),
              StructField('Consumo_de_energia_primaria_de_carvao', FloatType(), True),
              StructField('Consumo_de_energia_primaria_de_carvao_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_biocombustiveis_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_carvao_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_gas_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_energia_nuclear_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_petroleo_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_energias_renovaveis_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_energia_solar_em_TWh', FloatType(), True),
              StructField('Geracao_de_eletricidade_por_energia_eolica_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_de_gas',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_gas',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_gas_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_de_fonte_hidreletrica',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_hidreletrica',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_por_energia_nuclear',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_nuclear',FloatType(),True),     
              StructField('Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_de_petroleo',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_petroleo',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_petroleo_em_TWh',FloatType(),True),
              StructField('Populacao',IntegerType(),True),
              StructField('Geracao_de_eletricidade_de_fonte_solar',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_solar',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_solar_em_TWh',FloatType(),True),
              StructField('Geracao_de_eletricidade_de_fonte_eolica',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_eolica',FloatType(),True),
              StructField('Consumo_de_energia_primaria_de_fonte_eolica_em_TWh',FloatType(),True)
    ])
)

df_spark_xlsx = spark.createDataFrame(df_xlsx_3, schema=schemaxlsx)

In [ ]:
df_spark_xlsx.select(F.col('Pais'),F.col('Ano'),F.col('Populacao')).filter(F.col('Ano') == 2020).show(100)

##Insights PySpark

1) PySpark: Criação de coluna com consumo total de eletricidade gerada por fonte renovável e outra por fonte não renovável (df_xlsx_3)

2) PySpark: Criação de coluna com consumo total do país no último ano / populacao (df_xlsx_3)

### Insight 1:

Criação de novas colunas:

In [ ]:
# Criação de coluna com consumo total de eletricidade por fonte renovável:

df_spark_xlsx = df_spark_xlsx.withColumn('Consumo_total_de_eletricidade_gerada_por_fonte_renovavel_em_TWh',
                                         F.col('Consumo_de_energia_primaria_de_biocombustiveis_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_fonte_hidreletrica_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_fonte_solar_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_fonte_eolica_em_TWh') 
                                         )

In [ ]:
# Conversão da coluna para o tipo Float:
df_spark_xlsx.select(F.col("Consumo_total_de_eletricidade_gerada_por_fonte_renovavel_em_TWh").cast("float"))

DataFrame[Consumo_total_de_eletricidade_gerada_por_fonte_renovavel_em_TWh: float]

In [ ]:
df_spark_xlsx.dtypes

In [ ]:
# Criação de coluna com consumo total de eletricidade por fonte não renovável:

df_spark_xlsx = df_spark_xlsx.withColumn('Consumo_total_de_eletricidade_gerada_por_fonte_nao_renovavel_em_TWh',
                                         F.col('Consumo_de_energia_primaria_de_carvao_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_fonte_nuclear_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_petroleo_em_TWh') + 
                                         F.col('Consumo_de_energia_primaria_de_gas_em_TWh') 
                                         )

In [ ]:
# Conversão da coluna para o tipo Float:
df_spark_xlsx.select(F.col("Consumo_total_de_eletricidade_gerada_por_fonte_nao_renovavel_em_TWh").cast("float"))

DataFrame[Consumo_total_de_eletricidade_gerada_por_fonte_nao_renovavel_em_TWh: float]

In [ ]:
df_insight_1 = df_spark_xlsx.select(F.col('Pais'),
                                    F.col('Ano'),
                                    F.col('Consumo_total_de_eletricidade_gerada_por_fonte_renovavel_em_TWh'),
                                    F.col('Consumo_total_de_eletricidade_gerada_por_fonte_nao_renovavel_em_TWh'))

In [ ]:
df_insight_1.show()

### Insight 2:

In [ ]:
df_insight_2 = df_spark_xlsx.select("Pais","Populacao").filter(F.col("Ano") == 2020)

In [ ]:
# Dataframe apenas com os nomes das colunas de df_paises em ordem alfabética

In [ ]:
# Consumo total de eletricidade de cada país no df_paises em 2020:
linha = df_paises_teste.loc[df_paises['Year'] == 2020].values

In [ ]:
# Transformação do array em lista:
lista = linha[0].tolist()

In [ ]:
# Remover o primeiro item (2020):
lista = lista[1:]

In [ ]:
df_insight_2 = df_insight_2.repartition(1).withColumn(
    "Consumo_em_kWh", 
    udf(lambda id: lista[id])(monotonically_increasing_id()))

In [ ]:
df_insight_2 = df_insight_2.withColumn('Consumo_em_kWh',F.col('Consumo_em_kWh') * 1000000
)

In [ ]:
df_insight_2 = df_insight_2.withColumn(
    'Consumo_per_Capita_em_kWh', F.col('Consumo_em_kWh') / F.col('Populacao')
)

In [ ]:
df_insight_2.show()

## SparkSQL

3) sparkSQL: groupby do consumo total dos países de 1990 a 2020 para mostrar essa taxa de crescimento. (df_paises_1)

Insight: quanto maior o crescimento, maior a necessidade de desenvolvimento do mercado de energia renovável

4) sparkSQL: o mesmo insight do 3, mas para continentes (df_mundo_1)

### Insight 3:

In [ ]:
# Lista de países:

lista_paises = list(df_paises_1.columns)

In [ ]:
# lista de consumo de eletricidade por país em 1990:

lista_1990 = df_paises_1.loc[0]
lista_1990 = list(lista_1990)

In [ ]:
# lista de consumo de eletricidade por país em 2020:

lista_2020 = df_paises_1.loc[30]
lista_2020 = list(lista_2020)

In [ ]:
# Lista da diferença entre consumo de eletricidade por país entre 2020 e 1990:

lista_final = []
for i in range(45):
  lista_final.append(lista_2020[i] - lista_1990[i])

In [ ]:
# Lista da diferença em %:

lista_final_100 = []
for i in range(45):
  diferenca = lista_2020[i] - lista_1990[i]
  diferenca_100 = (diferenca/lista_1990[i])*100
  item = round(diferenca_100,2)
  lista_final_100.append(item)

len(lista_final_100)

In [ ]:
# Retirada do primeiro item de cada lista (respectivamente 'Ano', '1990', '2020', '30'):

lista_paises.pop(0)
lista_1990.pop(0)
lista_2020.pop(0)
lista_final.pop(0)
lista_final_100.pop(0)

In [ ]:
# Criação do schema, dados e dataframe:

esquema = ['Pais','1990','2020','Diferenca_de_consumo_entre_anos','Taxa_de_variacao (%)']

dados = []
for i in range(44):
  dados.append((lista_paises[i],lista_1990[i],lista_2020[i],lista_final[i],lista_final_100[i]))

df_insight_3 = spark.createDataFrame(data = dados, schema = esquema)

In [ ]:
df_insight_3.show(50)

In [ ]:
# criação da tabela do dataframe df_insight_3:

df_insight_3.createOrReplaceTempView("df_sql_3")

spark.sql('SELECT * FROM df_sql_3 ORDER BY Diferenca_de_consumo_entre_anos DESC').show(50)

### Insight 4

In [ ]:
# Lista de continentes:

lista_continentes = list(df_mundo_1.columns)
lista_continentes

In [ ]:
# lista de consumo de eletricidade por continente em 1990:

lista_1990c = df_mundo_1.loc[0]
lista_1990c = list(lista_1990c)

In [ ]:
# lista de consumo de eletricidade por país em 2020:

lista_2020c = df_mundo_1.loc[30]
lista_2020c = list(lista_2020c)

In [ ]:
# Lista da diferença entre consumo de eletricidade por país entre 2020 e 1990:

lista_finalc = []
for i in range(12):
  diferenca = round((lista_2020c[i] - lista_1990c[i]),2)
  lista_finalc.append(diferenca)

In [ ]:
# Lista da diferença em %:

lista_finalc_100 = []
for i in range(12):
  diferencac = lista_2020c[i] - lista_1990c[i]
  diferencac_100 = (diferencac/lista_1990c[i])*100
  item = round(diferencac_100,2)
  lista_finalc_100.append(item)

len(lista_finalc_100)

In [ ]:
# Retirada do primeiro item de cada lista (respectivamente '1990', '2020', '30'):

lista_1990c.pop(0)
lista_2020c.pop(0)
lista_finalc.pop(0)
lista_finalc_100.pop(0)

# Retirada dos grupos de continentes considerando a alteração do indice a cada pop (respectivamente 'Ano','OECD','BRICS','Oriente Medio','CEI'):

lista_continentes.pop(0)   
lista_continentes.pop(1) 
lista_continentes.pop(1)
lista_continentes.pop(7)
lista_continentes.pop(7)

In [ ]:
lista_continentes

In [ ]:
# Criação do schema, dados e dataframe:

esquema = ['Continente','1990','2020','Diferenca_de_consumo_entre_anos','Taxa_de_variacao (%)']

dados = []
for i in range(7):
  dados.append((lista_continentes[i],lista_1990c[i],lista_2020c[i],lista_finalc[i],lista_finalc_100[i]))

df_insight_4 = spark.createDataFrame(data = dados, schema = esquema)

In [ ]:
df_insight_4.show()

In [ ]:
# criação da tabela do dataframe df_insight_4:

df_insight_4.createOrReplaceTempView("df_sql_4")

# Uso do comando WHERE para retirar os valores correspondentes a linha 'Mundo'

spark.sql('SELECT * FROM df_sql_4 WHERE Continente != "Mundo"').show()

In [ ]:
# Uso do comando WHERE para visualizar apenas a linha 'Mundo'

spark.sql('SELECT * FROM df_sql_4 WHERE Continente == "Mundo"').show()

# Big Query

5) Bigquery: Ranking de países que produziram mais com fonte renovável e não renovável em 2020 (último ano registrado)

6) Bigquery: Percentual de cada fonte de energia RENOVÁVEL para os paises do top 5 e destaque da principal fonte de cada (5 consultas)

6) Bigquery: Percentual de cada fonte de energia NÃO RENOVÁVEL para os paises do top 5 e destaque da principal fonte de cada (5 consultas)

## Insight 5

In [ ]:
# Novo dataframe
df_insight_5 = df_spark_xlsx

In [ ]:
# Criação de coluna com geração total de eletricidade por fonte renovável:

df_insight_5 = df_insight_5.withColumn('Geracao_total_de_eletricidade_por_fonte_renovavel_em_TWh',
                                         F.col('Geracao_de_eletricidade_por_biocombustiveis_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_energia_solar_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_energia_eolica_em_TWh') 
                                         )

In [ ]:
# Conversão da coluna para o tipo Float:
df_insight_5.select(F.col("Geracao_total_de_eletricidade_por_fonte_renovavel_em_TWh").cast("float"))

In [ ]:
# Criação de coluna com consumo total de consumo de eletricidade por fonte não renovável:

df_insight_5 = df_insight_5.withColumn('Geracao_total_de_eletricidade_por_fonte_nao_renovavel_em_TWh',
                                         F.col('Geracao_de_eletricidade_por_gas_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_carvao_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_energia_nuclear_em_TWh') + 
                                         F.col('Geracao_de_eletricidade_por_petroleo_em_TWh') 
                                         )

In [ ]:
# Conversão da coluna para o tipo Float:
df_insight_5.select(F.col("Geracao_total_de_eletricidade_por_fonte_nao_renovavel_em_TWh").cast("float"))

In [ ]:
df_insight_5.createOrReplaceTempView("df_bq_5")

In [ ]:
# Ranking de geração total de eletricidade por fonte renovável

spark.sql('SELECT Pais,Ano,Geracao_total_de_eletricidade_por_fonte_renovavel_em_TWh FROM df_bq_5 WHERE Ano == 2020 ORDER BY Geracao_total_de_eletricidade_por_fonte_renovavel_em_TWh DESC').show(50)

In [ ]:
# Ranking de geração total de eletricidade por fonte não renovável

spark.sql('SELECT Pais,Ano,Geracao_total_de_eletricidade_por_fonte_nao_renovavel_em_TWh FROM df_bq_5 WHERE Ano == 2020 ORDER BY Geracao_total_de_eletricidade_por_fonte_nao_renovavel_em_TWh DESC').show(50)

## Insight 6

In [ ]:
df_insight_6 = df_spark_xlsx

In [ ]:
df_insight_6.createOrReplaceTempView("df_bq_6")

In [ ]:
# 2020
# GERAÇÃO de fonte de energia RENOVÁVEL para os paises do top 5 de 2020

spark.sql('SELECT Pais, Ano, Geracao_de_eletricidade_por_biocombustiveis_em_TWh AS Biocombustiveis_TWh, Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh AS Energia_hidreletrica_TWh, Geracao_de_eletricidade_por_energia_solar_em_TWh AS Energia_solar_TWh, Geracao_de_eletricidade_por_energia_eolica_em_TWh AS Energia_eolica_TWh FROM df_bq_6 WHERE Ano == 2020 and (Pais == "China" or Pais == "Estados_Unidos" or Pais == "India" or Pais == "Brasil" or Pais == "Canada")').show()

In [ ]:
# TODOS OS ANOS
# GERAÇÃO de fonte de energia RENOVÁVEL para os paises do top 5 de 2020

spark.sql('SELECT Pais, Ano, Geracao_de_eletricidade_por_biocombustiveis_em_TWh AS Biocombustiveis_TWh, Geracao_de_eletricidade_por_energia_hidreletrica_em_TWh AS Energia_hidreletrica_TWh, Geracao_de_eletricidade_por_energia_solar_em_TWh AS Energia_solar_TWh, Geracao_de_eletricidade_por_energia_eolica_em_TWh AS Energia_eolica_TWh FROM df_bq_6 WHERE (Pais == "China" or Pais == "Estados_Unidos" or Pais == "India" or Pais == "Brasil" or Pais == "Canada")').show()

In [ ]:
# 2020
# GERAÇÃO de fonte de energia NÃO RENOVÁVEL para os paises do top 5 de 2020

spark.sql('SELECT Pais, Ano, Geracao_de_eletricidade_por_gas_em_TWh AS Gas_TWh, Geracao_de_eletricidade_por_carvao_em_TWh AS Carvao_TWh, Geracao_de_eletricidade_por_energia_nuclear_em_TWh AS Energia_nuclear_TWh, Geracao_de_eletricidade_por_petroleo_em_TWh AS Petroleo_TWh FROM df_bq_6 WHERE Ano == 2020 and (Pais == "China" or Pais == "Estados_Unidos" or Pais == "India" or Pais == "Russia" or Pais == "Japao")').show()

In [ ]:
# TODOS OS ANOS
# GERAÇÃO de fonte de energia NÃO RENOVÁVEL para os paises do top 5 de 2020

spark.sql('SELECT Pais, Ano, Geracao_de_eletricidade_por_gas_em_TWh AS Gas_TWh, Geracao_de_eletricidade_por_carvao_em_TWh AS Carvao_TWh, Geracao_de_eletricidade_por_energia_nuclear_em_TWh AS Energia_nuclear_TWh, Geracao_de_eletricidade_por_petroleo_em_TWh AS Petroleo_TWh FROM df_bq_6 WHERE (Pais == "China" or Pais == "Estados_Unidos" or Pais == "India" or Pais == "Russia" or Pais == "Japao")').show()

# Mongo DB

In [ ]:
#instalando pymongo
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
import pymongo
from pymongo import MongoClient

In [ ]:
# conexão com o cluster mongo
client = pymongo.MongoClient('mongodb+srv://silv4filipe:d4e5f6@projeto.it6zq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [ ]:
# Conversão para pandas

# Datasets tratados:
df_paises_final = df_spark_paises.toPandas()
df_mundo_final = df_spark_mundo.toPandas()
df_xlsx_final = df_spark_xlsx.toPandas()

# Insights:
df_insight_1_final = df_insight_1.toPandas()
df_insight_2_final = df_insight_2.toPandas()
df_insight_3_final = df_insight_3.toPandas()
df_insight_4_final = df_insight_4.toPandas()
#df_insight_5_final = df_insight_5.toPandas()
#df_insight_6_final = df_insight_6.toPandas()

In [ ]:
# Conversão para dicionários

# Datasets tratados:
data_p = df_paises_final.to_dict(orient="records")
data_m = df_mundo_final.to_dict(orient="records")
data_x = df_xlsx_final.to_dict(orient="records")

# Insights:
data_i1 = df_insight_1_final.to_dict(orient="records")
data_i2 = df_insight_2_final.to_dict(orient="records")
data_i3 = df_insight_3_final.to_dict(orient="records")
data_i4 = df_insight_4_final.to_dict(orient="records")
#data_i5 = df_insight_5_final.to_dict(orient="records")
#data_i6 = df_insight_6_final.to_dict(orient="records")

In [ ]:
df=client['Dataframes_finais']

# Datasets tratados:
final_p = df.df_paises
final_m = df.df_mundo
final_x = df.df_xlsx

# Insights:
final_i1 = df.df_insight_1
final_i2 = df.df_insight_2
final_i3 = df.df_insight_3
final_i4 = df.df_insight_4
final_i5 = df.df_insight_5
final_i6 = df.df_insight_6

In [ ]:
'''final_p.insert_many(data_p)
final_m.insert_many(data_m)
final_x.insert_many(data_x)
final_a.insert_many(data_a)
final_i3.insert_many(data_i3)
final_i4.insert_many(data_i4)'''

# MySQL

In [ ]:
# Instalando a biblioteca mysql-connector-python
!pip install mysql-connector-python

In [ ]:
# Instalando pymysql
!pip install pymysql

In [ ]:
# Importando as bibliotecas de conexão
import mysql.connector
from mysql.connector import Error

In [ ]:
# Importando create_engine da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# Função para conexão com mysql

def conexao_db(host, user, password, db):
  conexao = None
  try:
    conexao = mysql.connector.connect(
      host = host,
      user = user,
      passwd = password,
      database = db     
    )
    print(f"Conexão com o banco {db} realizada com Sucesso!")
  except:
    print(f"Erro ao conectar ao banco {db}! '{Error}'")

  return conexao

In [ ]:
# Criação
conexao = conexao_db("35.247.240.99", "root", "a1b2c3", "db_projeto_originais")
cur = conexao.cursor()
engine = create_engine("mysql+pymysql://root:a1b2c3@35.247.240.99/db_projeto_originais")

In [ ]:
# Operações no banco de dados 
cur.execute('Show databases')
cur.fetchall()

In [ ]:
cur.execute('USE db_projeto_originais;')
cur.fetchall()

In [ ]:
cur.execute('show tables;')
cur.fetchall()

In [ ]:
# Transformando os DataFrames para formado SQL
'''
df_sql_mundo = df_mundo.to_sql("continent_consumption_twh", con = engine, if_exists='replace', index = False)
df_sql_paises = df_paises.to_sql("country_consumption_twh", con = engine, if_exists='replace', index = False)
df_sql_xlsx = df_xlsx.to_sql("owid_energy", con = engine, if_exists='replace', index = False)
'''

# Exportando para bucket

In [ ]:
df_paises_final.to_csv('gs://projeto_grupo/paises_final.csv', index = False)
df_mundo_final.to_csv('gs://projeto_grupo/mundo_final.csv', index = False)
df_xlsx_final.to_csv('gs://projeto_grupo/xlsx_final.csv', index = False)
df_insight_1_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_1_final.csv', index = False)
df_insight_2_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_2_final.csv', index = False)
df_insight_3_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_3_final.csv', index = False)
df_insight_4_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_4_final.csv', index = False)
df_insight_5_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_5_final.csv', index = False)
df_insight_6_final.to_csv('gs://projeto_grupo/datasets_tratados/insight_6_final.csv', index = False)